   .bodysty
   { style="
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      background: black;
    "}

.txtstyl{
x="75"
            y="36"
            font-family="Arial, sans-serif"
            font-size="32"
            font-weight="900"
            fill="#E50914"
            text-anchor="middle"
            letter-spacing="0.5"
}
.h1sty{
    style="
              margin: 0 0 28px 0;
              font-size: 32px;
              color: white;
              font-family: Arial, Helvetica, sans-serif;
            "
}
.divsty{
    style="
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
          ),
          #111;
        background-size: cover;
        display: flex;
        flex-direction: column;
      "
}
.inpusty{style="
              width: 100%;
              padding: 14px;
              margin-bottom: 16px;
              background: #333;
              border: none;
              border-radius: 4px;
              color: white;
              font-size: 16px;
              box-sizing: border-box;
            "}
.inpu2sty{ style="
              width: 100%;
              padding: 14px;
              margin-bottom: 16px;
              background: #333;
              border: none;
              border-radius: 4px;
              color: white;
              font-size: 16px;
              box-sizing: border-box;
            "}

.emailinpsty{
    style="
              width: 100%;
              padding: 14px;
              margin-bottom: 16px;
              background: #333;
              border: none;
              border-radius: 4px;
              color: white;
              font-size: 16px;
              box-sizing: border-box;
            "

}
